.vim/bundle
.gnupg
.newsbeuter/cache.*
.irssi/*.autosave
.mpd

gnupg/asdf-nodejs.gpg
gnupg/asdf-nodejs.gpg~
gnupg/.#lk0x00006000031f4000.Air-Anton.Dlink.88023
gnupg/.#lk0x0000600002284390.Air-Anton.Dlink.50739
ssh/environment-MacBook Air — Anton
ssh/environment-MacBook Air — Anton (3)