!Xresources file

URxvt*.transparent: true
! URxvt*.shading: 0 to 99 darkens, 101 to 200 lightens
URxvt*.shading: 50
URxvt*.scrollBar: false
URxvt*.foreground: [100]#ffffff
URxvt*.background: [100]#000000
URxvt.colorUL: #4682B4
URxvt*.font: 9x15
URxvt.perl-ext-common:      default,clipboard,url-select,keyboard-select,tabbed
URxvt.url-select.launcher:  chromium
URxvt.url-select.underline: true
URxvt.keysym.M-u:           perl:url-select:select_next
URxvt.keysym.M-Escape:      perl:keyboard-select:activate
URxvt.keysym.M-s:           perl:keyboard-select:search
